# IQ Test

Time: 6000 ms

| FORWARD_PRUNING_MINIMUM | FORWARD_PRUNING_RATIO |  Result |
| ----------------------: | --------------------: | ------: |
|                       3 |                     4 | 35 (\*) |
|                       4 |                     4 | 35 (\*) |
|                       4 |                     6 | 36 (\*) |
|                       4 |                     8 |      34 |
|                       5 |                     6 |      35 |

# Eigenmann Test

Time: 15000 ms

| FORWARD_PRUNING_MINIMUM | FORWARD_PRUNING_RATIO | Result |
| ----------------------: | --------------------: | -----: |
|                       4 |                     4 |     20 |


